<?xml version="1.0"?>
<!--
/**
 * Copyright © Shekhar Suman, 2024. All rights reserved.
 * See COPYING.txt for license details.
 * 
 * @package     RicherIndex_Testimonial
 * @version     1.0.0
 * @license     MIT License (http://opensource.org/licenses/MIT)
 * @autor       Shekhar Suman
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::testimonial_elements" title="KiwiCommerce Testimonials">
					<resource id="Richerindex_Testimonial::testimonial" title="Testimonial" sortOrder="10">
						<resource id="Richerindex_Testimonial::testimonial_edit" title="Edit Testimonial" sortOrder="10" />
						<resource id="Richerindex_Testimonial::testimonial_save" title="Save Testimonial" sortOrder="20" />
					    <resource id="Richerindex_Testimonial::testimonial_delete" title="Delete Testimonial" sortOrder="30" />
				    </resource>
			</resource>
			<resource id="Magento_Backend::stores">
				<resource id="Magento_Backend::stores_settings">
					<resource id="Magento_Config::config">
						<resource id="Richerindex_Testimonial::config_testimonial" title="KiwiCommerce Testimonials" />
					</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>